@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* Classes buttons field map*/

.calcContainer {
  width: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* gap: 10px 10px; */
  grid-auto-flow: row;
  grid-template-areas:
    'special-char special-char special-char operators'
    'numbers numbers numbers operators'
    'numbers numbers numbers operators'
    'numbers numbers numbers operators'
    'numbers numbers numbers operators';
}

.special-char {
  grid-area: special-char;
}

.operators {
  grid-area: operators;
}

.numbers {
  grid-area: numbers;
}
